<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/admin/css/style.css" />
  </head>
  <body>
    <div>
      <nav class="navbar m-0 p-0 bg-dark">
        <div class="container">
          <ul class="navbar-nav d-flex flex-row pt-2 pb-2">
            <li class="nav-item ml-3">
              <a
                class="nav-link active mx-2"
                aria-current="page"
                href="/admin/login"
                >Login</a
              >
            </li>
            <li class="nav-item ml-3">
              <a
                class="nav-link active"
                aria-current="page"
                href="/admin/signup"
                >Signup</a
              >
            </li>
          </ul>
        </div>
      </nav>

      {% block content %} {% endblock %}
    </div>
  </body>
</html>
