<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/admin/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        {% if '/admin/dashboard' in request.path %}
        <span class="navbar-brand">Admin panel</span>
        {% else %}
        <a class="navbar-brand" href="/admin/dashboard">Admin panel</a>
        {% endif %}

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link {{'active' if '/admin/home' in request.path else  ''}}"
                aria-current="page"
                href="/admin/home"
                >Home</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link {{'active' if '/admin/persinfo' in request.path else  ''}}"
                href="/admin/persinfo"
                >Personal Info</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarScrollingDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Achievements
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarScrollingDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/admin/experience"
                    >Experience</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/admin/education">Education</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/admin/skill">Skill</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/admin/myexperience"
                    >My experience</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {{'active' if '/admin/images' in request.path else  ''}}"
                href="/admin/images"
                >Images</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {{'active' if '/admin/socialprof' in request.path else  ''}}"
                href="/admin/socialprof"
                >Contacts</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {{'active' if '/admin/form' in request.path else  ''}}"
                href="/admin/tag"
                >Tag</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {{'active' if '/admin/myblog' in request.path else  ''}}"
                href="/admin/myblog"
                >My BLog</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {{'active' if '/admin/form' in request.path else  ''}}"
                href="/admin/form"
                >Messages</a
              >
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <div style="color: beige">{{ current_user.username }}</div>
            <button
              class="btn btn-danger m-2"
              onclick="window.location.href = '/logout'"
            >
              Logut
            </button>
          </div>
        </div>
      </div>
    </nav>
    <!-- New end -->
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    {% block content %} {% endblock %}
  </body>
</html>
