<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/admin/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar m-0 p-0 bg-dark">
      <div class="container">
        <ul class="navbar-nav d-flex flex-row p-2">
          <li class="nav-item ml-3">
            <a class="nav-link active" aria-current="page" href="/admin/home"
              >Home</a
            >
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link" href="/admin/persinfo">Personal Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/experience">Experience</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/admin/education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/skill">Skill</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/admin/myexperience">My experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/images">Images</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/admin/socialprof">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/myblog">My BLog</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/admin/form">Messages</a>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <div style="color: beige">{{ current_user.username }}</div>
          <button
            class="btn btn-danger m-2"
            onclick="window.location.href = '/logout'"
          >
            Logut
          </button>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}
  </body>
</html>
