{% extends "admin/dashboard.html" %} {% block content %}
<div class="container">
  <h1 class="adminpage ml-4 mt-4">Add Experience</h1>
  <form action="/admin/experience" method="POST" class="w-50 ml-4 mt-4">
    <input
      type="text"
      name="job_title"
      class="form-control my-2"
      placeholder="Job title"
    />
    <input
      type="text"
      name="company"
      class="form-control my-2"
      placeholder="Company name"
    />
    <input
      type="text"
      name="job_date"
      class="form-control my-2"
      placeholder="Job date"
    />
    <input
      type="text"
      name="job_content"
      class="form-control my-2"
      placeholder="Job content"
    />
    <input type="submit" class="btn btn-success my-2" value="Add" />
  </form>

  <h1 class="adminpage ml-4 mt-3">Experience page</h1>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
    {% for experience in experiences %}
    <div class="d-flex text-muted pt-3">
      <div
        class="
          w-100
          pb-3
          d-flex
          justify-content-between
          mb-0
          small
          lh-sm
          border-bottom
        "
      >
        <div>
          <strong class="d-block text-gray-dark"
            >{{experience.job_title}}</strong
          >
          <div class="d-flex mt-2">
            <div class="d-flex flex-column align-items-baseline">
              <table class="mb-1">
                <tr>
                  <td class="pe-4">Company</td>
                  <td>{{experience.company}}</td>
                </tr>
                <tr>
                  <td>Job date</td>
                  <td>{{experience.job_date}}</td>
                </tr>
              </table>
              <span> {{experience.job_content}} </span>
            </div>
          </div>
        </div>
        <span class="d-flex align-items-start">
          <a
            href="/deleteexp/{{experience.id}}"
            class="btn btn-sm me-2 btn-danger"
            >Delete</a
          >
          <a
            href="/updateexp/{{experience.id}}"
            class="btn btn-sm btn-secondary"
            >Edit</a
          >
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
