{% extends "admin/dashboard.html" %} {% block content %}
<div class="container">
  <h1 class="adminpage ml-4 mt-4">Add Experience</h1>
  <form action="/admin/myexperience" method="POST" class="w-50 ml-4 mt-4">
    <input
      type="text"
      name="experience_year"
      class="form-control my-2"
      placeholder="Experience year"
    />
    <input
      type="text"
      name="doneproject"
      class="form-control my-2"
      placeholder="Done project"
    />
    <input
      type="text"
      name="happycustomers"
      class="form-control my-2"
      placeholder="Happy customers"
    />

    <input type="submit" class="btn btn-warning my-2" value="Add" />
  </form>
  <h1 class="adminpage ml-4 mt-3">My experience page</h1>
  <table class="table table-hover mt-4 ml-4">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Experience year</th>
        <th scope="col">Done project</th>
        <th scope="col">Happy customers</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for myexperience in myexperiences %}
      <tr>
        <th scope="row">{{myexperience.id}}</th>
        <td>{{myexperience.experience_year}}</td>
        <td>{{myexperience.doneproject}}</td>
        <td>{{myexperience.happycustomers}}</td>
        <td>
          <a
            href="/deletemyexp/{{myexperience.id}}"
            class="btn btn-outline-danger"
            >Delete</a
          >
          <a
            href="/updatemyexp/{{myexperience.id}}"
            class="btn btn-outline-secondary"
            >Edit</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
