{% extends 'admin/base.html' %} {% block content %}
<h1 class="adminpage ml-4 mt-4">Add Personal Information</h1>
<form action="/admin/persinfo" method="POST" class="w-50 ml-4 mt-4">
  <input
    type="text"
    name="title"
    class="form-control my-2"
    placeholder="Title"
  />
  <input
    type="text"
    name="title_icon"
    class="form-control my-2"
    placeholder="Title icon"
  />
  <input
    type="text"
    name="title_content"
    class="form-control my-2"
    placeholder="Title content"
  />
  <input type="submit" class="btn btn-warning my-2" value="Add" />
</form>

<h1 class="adminpage ml-4 mt-4">Personal information</h1>
<table class="table table-hover mt-4 ml-4">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Title icon</th>
      <th scope="col">Title content</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for persoinfo in persoinfos %}
    <tr>
      <th scope="row">{{persoinfo.id}}</th>
      <td>{{persoinfo.title}}</td>
      <td>{{persoinfo.title_icon}}</td>
      <td>{{persoinfo.title_content}}</td>
      <td>
        <a href="/delete/{{persoinfo.id}}" class="btn btn-outline-danger"
          >Delete</a
        >
        <a
          href="/updatepersinfo/{{persoinfo.id}}"
          class="btn btn-outline-secondary"
          >Edit</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
