{% extends 'admin/dashboard.html' %} {% block content %}
<div class="container">
  <h1 class="adminpage ml-4 mt-4">Add Personal Information</h1>
  <form
    action="/admin/persinfo"
    method="POST"
    class="w-50 ml-4 mt-4"
    enctype="multipart/form-data"
  >
    <input
      type="text"
      name="pers_info_title"
      class="form-control my-2"
      placeholder="Personal info title"
    />
    <input
      type="text"
      name="pers_info_content"
      class="form-control my-2"
      placeholder="Personal Info content"
    />

    <input type="submit" class="btn btn-success my-2" value="Add" />
  </form>

  <h1 class="adminpage ml-4 mt-4">Personal informations</h1>
  {% if persoinfos %}
  <table class="table table-hover mt-4 ml-4 d-none">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Personal info title</th>
        <th scope="col">Personal Info content</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for persoinfo in persoinfos %}
      <tr>
        <th scope="row">{{persoinfo.id}}</th>
        <td>{{persoinfo.pers_info_title}}</td>
        <td>{{persoinfo.pers_info_content}}</td>

        <!-- <td>{{persoinfo.title_icon}}</td> -->

        <td>
          <a href="/delete/{{persoinfo.id}}" class="btn btn-outline-danger"
            >Delete</a
          >
          <a
            href="/updatepersinfo/{{persoinfo.id}}"
            class="btn btn-outline-secondary"
            >Edit</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
    {% for persoinfo in persoinfos %}
    <div class="d-flex text-muted pt-3">
      <p
        class="
          w-100
          pb-3
          d-flex
          justify-content-between
          mb-0
          small
          lh-sm
          border-bottom
        "
      >
        <span class="w-100">
          <strong class="d-block text-gray-dark"
            >{{persoinfo.pers_info_title}}</strong
          >
          <span class="col-6 skill d-flex mt-2">
            {{persoinfo.pers_info_content}}
          </span>
        </span>
        <span class="d-flex align-items-start">
          <a href="/delete/{{persoinfo.id}}" class="btn btn-sm btn-danger me-2"
            >Delete</a
          >
          <a
            href="/updatepersinfo/{{persoinfo.id}}"
            class="btn btn-sm btn-secondary"
            >Edit</a
          >
        </span>
      </p>
    </div>
    {% endfor %}
  </div>

  {% else %}
  <div class="d-flex">
    <div class="card w-100 text-center pt-3">
      <div class="card-body">
        <h5 class="card-title">
          <p>No data yet!</p>
        </h5>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
