{% extends "admin/dashboard.html" %} {% block content %}
<div class="container">
  <h1 class="adminpage ml-4 mt-4">Add Skill</h1>
  <form action="/admin/skill" method="POST" class="w-50 ml-4 mt-4">
    <input
      type="text"
      name="skill_name"
      class="form-control my-2"
      placeholder="Skill name"
    />
    <select
      name="skill-select"
      class="form-select"
      aria-label="Default select example"
    >
      <option selected disabled>Select rate</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
      <option value="5">Five</option>
    </select>

    <input type="submit" class="btn btn-success my-2" value="Add" />
  </form>

  <h1 class="adminpage ml-4 mt-3">Skill page</h1>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
    {% for skill in skills %}
    <div class="d-flex text-muted pt-3">
      <p
        class="
          w-100
          pb-3
          d-flex
          justify-content-between
          mb-0
          small
          lh-sm
          border-bottom
        "
      >
        <span>
          <strong class="d-block text-gray-dark">{{skill.skill_name}}</strong>
          <span class="col-6 skill d-flex mt-2">
            <i class="{{skill.skill_rate1}}"></i>
            <i class="{{skill.skill_rate2}}"></i>
            <i class="{{skill.skill_rate3}}"></i>
            <i class="{{skill.skill_rate4}}"></i>
            <i class="{{skill.skill_rate5}}"></i>
          </span>
        </span>
        <span>
          <a href="/deleteskill/{{skill.id}}" class="btn btn-sm btn-danger"
            >Delete</a
          >
          <a href="/updateskill/{{skill.id}}" class="btn btn-sm btn-secondary"
            >Edit</a
          >
        </span>
      </p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
