{% extends "admin/dashboard.html" %} {% block content %}
<div class="container">
  <h1 class="adminpage ml-4 mt-4">Add Contacts</h1>

  <form action="/admin/socialprof" method="POST" class="w-50 ml-4 mt-4">
    <input
      type="text"
      name="contact_title"
      class="form-control my-2"
      placeholder="Contact name"
    />
    <input
      type="text"
      name="contact_icon"
      class="form-control my-2"
      placeholder="Contact icon"
    />
    <input
      type="text"
      name="contact_info"
      class="form-control my-2"
      placeholder="Contact info"
    />
    <input
      type="text"
      name="social_icon"
      class="form-control my-2"
      placeholder="Social icon"
    />
    <input
      type="text"
      name="social_link"
      class="form-control my-2"
      placeholder="Social link"
    />

    <input type="submit" class="btn btn-warning my-2" value="Add" />
  </form>

  <h1 class="adminpage ml-4 mt-3">Social profile</h1>
  <table class="table table-hover mt-4 ml-4">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Contact name</th>
        <th scope="col">Contact icon</th>
        <th scope="col">Contact info</th>
        <th scope="col">Social icon</th>
        <th scope="col">Social link</th>
      </tr>
    </thead>
    <tbody>
      {% for social_icon in social_icons %}
      <tr>
        <th scope="row">{{social_icon.id}}</th>
        <td>{{social_icon.contact_title}}</td>
        <td>{{social_icon.contact_icon}}</td>
        <td>{{social_icon.contact_info}}</td>
        <td>{{social_icon.social_icon}}</td>
        <td>{{social_icon.social_link}}</td>
        <td>
          <a
            href="/deletesocialicon/{{social_icon.id}}"
            class="btn btn-outline-danger"
            >Delete</a
          >
          <a
            href="/updatesocialicon/{{social_icon.id}}"
            class="btn btn-outline-secondary"
            >Edit</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
