{% extends "admin/dashboard.html" %} {% block content %}
<div class="container">
  <h1 class="adminpage ml-4 mt-4">Add Tag</h1>
  <form action="/admin/tag" method="POST" class="w-50 ml-4 mt-4">
    <input
      type="text"
      name="name"
      class="form-control my-2"
      placeholder="tag name"
    />

    <input type="submit" class="btn btn-success my-2" value="Add" />
  </form>
  {% if tags %}
  <h1 class="adminpage ml-4 mt-3">Tags</h1>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    {% for tag in tags %}
    <div class="d-flex text-muted pt-3">
      <div
        class="
          w-100
          pb-3
          d-flex
          justify-content-between
          mb-0
          small
          lh-sm
          border-bottom
        "
      >
        <div>
          <strong class="d-block text-gray-dark">{{tag.name}}</strong>
        </div>
        <span class="d-flex align-items-start">
          <a href="" class="btn btn-sm me-2 btn-danger">Delete</a>
          <a href="" class="btn btn-sm btn-secondary">Edit</a>
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="d-flex">
    <div class="card w-100 text-center pt-3">
      <div class="card-body">
        <h5 class="card-title">
          <p>No data yet!</p>
        </h5>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
