{% extends 'admin/dashboard.html' %} {% block content %}
<div class="container">
  <h4 class="my-2">Update Contact</h4>
  <form action="/updatesocialicon/{{updatesocialicon.id}}" method="POST">
    <input
      type="text"
      class="form-control my-2"
      name="contact_title"
      placeholder="Contact name"
      value="{{updatesocialicon.contact_title}}"
    />
    <input
      type="text"
      class="form-control my-2"
      name="contact_info"
      placeholder="Contact info"
      value="{{updatesocialicon.contact_info}}"
    />
    <select
      name="contact_icon"
      class="form-select"
      aria-label="Default select example"
    >
      <option selected disabled>Select contact type</option>
      <option value="fas fa-phone">Phone</option>
      <option value="fas fa-envelope-open-text">Email</option>
      <option value="fas fa-address-card">Address</option>
      <option value="fab fa-skype">Skype Account</option>
    </select>
    <input
      type="text"
      class="form-control my-2"
      name="contact_icon"
      placeholder="Contact icon"
      value="{{updatesocialicon.contact_icon}}"
    />
    <input
      type="text"
      class="form-control my-2"
      name="social_icon"
      placeholder="Social icon"
      value="{{updatesocialicon.social_icon}}"
    />
    <input
      type="text"
      class="form-control my-2"
      name="social_link"
      placeholder="Social link"
      value="{{updatesocialicon.social_link}}"
    />

    <input type="submit" class="btn btn-primary" value="Update contact" />
  </form>
</div>
{% endblock %}
