body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

.nav-link {
  color: white;
  transition: all 0.3s ease;
  font-size: 1.1em;
}
.nav-link:hover {
  color: orange;
}
.adminpage {
  font-size: 1.4em;
  color: orange;
  /* margin-left: 10px; */
}
.btn-warning {
  color: white;
  /* margin-left: 10px; */
}
.form-control {
  font-size: 1.1em;
  padding: 10px;
  /* margin-left:10px ; */
}
.table {
  font-size: 1.1em;
  margin-left: 10px;
}
.table a {
  font-size: 1em;
}
