body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

.nav-link {
  color: white;
  transition: all 0.3s ease;
  font-size: 1.1em;
}
.nav-link:hover {
  color: orange;
}
.adminpage {
  font-size: 1.5em;
  color: orange;
}
.btn-warning {
  color: white;
}
.form-control {
  font-size: 1.1em;
  padding: 20px 30px;
}
.table {
  font-size: 1.1em;
}
.table a {
  font-size: 1em;
}
/* .delete,
.edit {
  color: orange;
  padding: 5px;
  transition: all 0.3s ease;
}
.delete:hover,
.edit:hover {
  text-decoration: none;
  color: black;
} */
